<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->

    <!--  -->
    <arg 
    name="udp_ip" 
    default="192.168.0.103"/>

    <!-- If any of dependency or optional subfiles should not be launched (or
    are launched separately) set corresponding argument to "false". -->
    <arg 
    name="launch_active_neck_camera" 
    default="true"/>

    <arg 
    name="launch_interface_udp" 
    default="true"/>

    <arg 
    name="launch_torso_camera" 
    default="false"/>

    <arg 
    name="launch_torso_camera_udp" 
    default="false"/>


    <!-- ======================== END OF SETTINGS ========================== -->


    <!-- Active neck camera: -->
    <group if="$(arg launch_active_neck_camera)">
        <include 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg 
            name="camera" 
            value="active_neck"/>
            <arg 
            name="serial_no" 
            value="920312070370"/>
            <arg 
            name="color_fps" 
            value="30"/>
            <arg 
            name="color_width" 
            value="640"/>
            <arg 
            name="color_height" 
            value="480"/>   
        </include>
    </group>

    <!-- Torso camera: -->
    <group if="$(arg launch_torso_camera)">
        <include 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg 
            name="camera" 
            value="torso"/>
            <arg 
            name="serial_no" 
            value="827112071396"/>
            <arg 
            name="color_fps" 
            value="30"/>
            <arg 
            name="color_width" 
            value="640"/>
            <arg 
            name="color_height" 
            value="480"/>   
        </include>
    </group>

    <!-- Interface overlay: -->
    <node 
    name="control_menu" 
    pkg="hirolab_iona_demos" 
    type="control_menu.py" 
    output="screen">
        <param 
        name="node_frequency" 
        value="20"/>
        <param 
        name="image_topic" 
        value="/active_neck/color/image_raw"/>
    </node>

    <!-- Interface overlay UDP streamer: -->
    <group if="$(arg launch_interface_udp)">
        <include 
        file="$(find udp_ros)/launch/udp_streamer.launch">
            <arg 
            name="enable_imshow" 
            default="true"/>
            <arg 
            name="camera_name" 
            value="active_neck"/>
            <arg 
            name="image_topic" 
            default="/control_menu/control_menu_image"/>
            <arg 
            name="udp_ip" 
            value="$(arg udp_ip)"/>
            <arg 
            name="udp_port" 
            value="8081"/> 
            <arg 
            name="fps_rate" 
            default="30"/>
        </include>
    </group>

    <!-- Torso camera UDP streamer: -->
    <group if="$(arg launch_torso_camera_udp)">
        <include 
        file="$(find udp_ros)/launch/udp_streamer.launch">
            <arg 
            name="enable_imshow" 
            default="true"/>
            <arg 
            name="camera_name" 
            value="torso"/>
            <arg 
            name="image_topic" 
            default="/torso/color/image_raw"/>
            <arg 
            name="udp_ip" 
            value="$(arg udp_ip)"/>
            <arg 
            name="udp_port" 
            value="8082"/> 
            <arg 
            name="fps_rate" 
            default="30"/>
        </include>
    </group>
</launch>