<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->


    <!-- If any of dependency or optional subfiles should not be launched (or
    are launched separately) set corresponding argument to "false". -->
    <arg 
    name="right_arm_launch" 
    default="true"/>

    <arg 
    name="left_arm_launch" 
    default="true"/>

    <arg 
    name="base_launch" 
    default="true"/>

    <arg 
    name="torso_launch" 
    default="true"/>

    <arg 
    name="headset_mode" 
    default="head"/> 


    <!-- ======================== END OF SETTINGS ========================== -->


    <!-- Right Arm: -->
    <group if="$(arg right_arm_launch)">
        <!-- Oculus Mapping: -->
        <include 
            file="$(find kinova_positional_control)/launch/oculus_mapping.launch">
                <arg 
                name="robot_name" 
                value="right_arm"/>
                <arg 
                name="controller_side" 
                value="right"/>
                <arg 
                name="headset_mode" 
                default="$(arg headset_mode)"/>
        </include>

        <!-- Preset poses: -->
        <include 
            file="$(find kinova_positional_control)/launch/preset_poses.launch">
                <arg 
                name="robot_name" 
                value="right_arm"/>
        </include>

        <!-- Wrench: -->
        <include 
            file="$(find kinova_positional_control)/launch/kinova_wrench.launch">
                <arg 
                name="robot_name" 
                value="right_arm"/>
        </include>
    </group>

    <!-- Left Arm: -->
    <group if="$(arg left_arm_launch)">
        <!-- Oculus Mapping: -->
        <include 
            file="$(find kinova_positional_control)/launch/oculus_mapping.launch">
                <arg 
                name="robot_name" 
                value="left_arm"/>
                <arg 
                name="controller_side" 
                value="left"/>
                <arg 
                name="headset_mode" 
                default="$(arg headset_mode)"/>
        </include>

        <!-- Preset poses: -->
        <include 
            file="$(find kinova_positional_control)/launch/preset_poses.launch">
                <arg 
                name="robot_name" 
                value="left_arm"/>
        </include>

        <!-- Wrench: -->
        <include 
            file="$(find kinova_positional_control)/launch/kinova_wrench.launch">
                <arg 
                name="robot_name" 
                value="left_arm"/>
        </include>
    </group>

    <!-- Mobile Base Oculus Mapping: -->
    <group if="$(arg base_launch)">
        <include 
            file="$(find hirolab_fetch_freight100)/launch/oculus_mobile_base_mapping.launch">
                <arg 
                name="controller_side" 
                value="right"/>
                <arg 
                name="launch_controller_feedback" 
                value="false"/>
        </include>
    </group>

    <!-- Torso Oculus Mapping: -->
    <group if="$(arg torso_launch)">
        <include 
            file="$(find gopher_ros_clearcore)/launch/oculus_joystick_mapping.launch">
                <arg 
                name="controller_side" 
                value="left"/>
                <arg
                name='launch_controller_feedback'
                value='false'/>
        </include>
    </group>

    <!-- headset/base_link to base_link tf2 static broadcaster: -->
    <node 
    pkg="tf2_ros" 
    type="static_transform_publisher" 
    name="headset_broadcaster" 
    args="-1.5 0 0 0 0 0 1 base_link headset/base_link"
    />
</launch>