<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->


    <!-- If any of dependency or optional subfiles should not be launched (or
    are launched separately) set corresponding argument to "false". -->
    <arg 
    name="unity_ros_launch" 
    default="true"/>

    <arg 
    name="right_arm_launch" 
    default="true"/>

    <arg 
    name="left_arm_launch" 
    default="true"/>

    <!-- ======================== END OF SETTINGS ========================== -->

    <!-- Unity-ROS: -->
    <group if="$(arg unity_ros_launch)">
        <include 
        file="$(find unity_ros)/launch/endpoint.launch">
        </include>
    </group>

    <!-- Right Arm: -->
    <group if="$(arg right_arm_launch)">
        <include file="$(find kortex_driver)/launch/kortex_driver.launch">
            <arg name="ip_address" value="192.168.1.12" />
            <arg name="start_rviz" value="false" />
            <arg name="start_moveit" value="true" />
            <arg name="gripper" value="robotiq_2f_85" />
            <arg name="robot_name" value="right_arm" />
            <arg name="cyclic_data_publish_rate" value="100" />
            <arg name="prefix" value="right_arm/" />
        </include>
    </group>

    <!-- Left Arm: -->
    <group if="$(arg left_arm_launch)">
        <include file="$(find kortex_driver)/launch/kortex_driver.launch">
            <arg name="ip_address" value="192.168.1.10" />
            <arg name="start_rviz" value="false" />
            <arg name="start_moveit" value="true" />
            <arg name="gripper" value="robotiq_2f_85" />
            <arg name="robot_name" value="left_arm" />
            <arg name="cyclic_data_publish_rate" value="100" />
            <arg name="prefix" value="left_arm/" />
        </include>
    </group>
</launch>